    .form-field {
        position: relative;
    
        input[type='email'], input[type='text'] {
            padding: 10px 10px 10px 40px;
            border-radius: 3px;
            border-width: 1px;
            margin: 0 10px;
            font-family: 'Nunito', sans-serif;
            width: auto;
        }

        input[type='email']:focus, input[type='text']:focus {
            outline: #FFA000 auto 5px;
        }

        .icon {
            position: absolute;
            left: 20px;
            top: 2px;
            color: #888;
            font-size: 1.2rem;
        }
    }

.hidden {
    display: none;
}

.tickmark {
    padding: 10px;
    font-size: 1.5rem;
    color: #FFA000;
    border: 3px solid #FFA000;
    margin: 0 20px;
    border-radius: 50%;
}